<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<!--<listeners>
		<listener class-name="TestNGpackage.customListners"></listener>
	</listeners>-->
	
	<groups>
		<run>
			<include name = "high" />
		</run>
	</groups>
	
  <test name="Login">
    <classes>
      <class name="TestNGpackage.testCase1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
